@import url(https://use.fontawesome.com/releases/v6.4.2/css/all.css);
@import url(https://fonts.googleapis.com/css2?family=Poller+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap);
@import './responsive.css';


@font-face {
    font-family: 'Starjout';
    src: url('./fonts/starjout/Starjout.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family: 'Poller One', cursive;
    margin: 0;
    padding: 0;
    /*background-image: url('./images/espaciosideral.jpeg');
    background-size: cover;
    background-attachment: fixed;*/
    background-color: #000000;
    color: yellow;
    scroll-behavior: smooth;

}

.layout{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

}

/*Barra de Navegacion*/



.nav__react{
    width: 100%;
    height: 70px;
    background-color: rgb(255 255 255 / 10%);
    backdrop-filter: blur(2px);
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
    margin-top: 10px; 
    display: flex;
    opacity: 0; 
    transition: opacity 1s ease;

}

.nav__react.show {
    opacity: 1; 
}

.logo__nav{
    width: 150px;
    height: 100%;
    margin-right: 30px;
    margin-left: 30px;
}

.nav__logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.nav__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
}

.nav__item{
    list-style: none;
    margin: 0 10px;


}

.nav__icon{
    width: 30px;
    height: 30px;
    margin-right: 1px;
    vertical-align: middle;
    transform: rotate(45deg);
    margin-top: 15px;
}
.nav__link{
    position: relative;
    display: inline-block;
    line-height: 3rem;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav__link:hover{
    color: #e3f70c;
}

.nav__link::before {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 0%;
    height: 5px;
    border-radius: 5px;
    opacity: 0;
    transition: 500ms;
    z-index: -1;
}

.nav__list li:nth-child(1) .nav__link::before {
    background-color: #46F19E; /* Color base del neón verde */
    box-shadow: 0 0 10px #46F19E, 0 0 20px #46F19E, 0 0 30px #46F19E, 0 0 40px #46F19E; /* Efecto de neón verde */
}

.nav__list li:nth-child(2) .nav__link::before {
    background-color: #00BFFF; /* Color base del neón azul */
    box-shadow: 0 0 10px #00BFFF, 0 0 20px #00BFFF, 0 0 30px #00BFFF, 0 0 40px #00BFFF; /* Efecto de neón azul */
}

.nav__list li:nth-child(4) .nav__link::before {
    background-color: #FF4500; /* Color base del neón rojo */
    box-shadow: 0 0 10px #FF4500, 0 0 20px #FF4500, 0 0 30px #FF4500, 0 0 40px #FF4500; /* Efecto de neón rojo */
}

.nav__list li:nth-child(5) .nav__link::before {
    background-color: #9400D3; /* Color base del neón violeta */
    box-shadow: 0 0 10px #9400D3, 0 0 20px #9400D3, 0 0 30px #9400D3, 0 0 40px #9400D3; /* Efecto de neón violeta */
}

.nav__link:hover::before {
    width: 100%;
    opacity: 1;
}

/*Header*/
.header__react{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden !important;

}

.header__title{
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    color: #ecf805;
    font-family: Poller One;
}

.pre__header{
    font-size: 30px;
    font-weight: bold;
    font-family: Starjout;
    margin-left: 34%;
    margin-bottom: 0;
}

.header__icon{
    width: 40px;
    height: 50px;
    margin-right: 2px;
    margin-left: 25px;
    vertical-align: middle;
    transform: rotate(50deg);
}

.hr__header{
    height: 7px;
    border-radius: 50px;
    background: transparent;
    border: none;
    width: 20%;
    margin: 7px;
    margin-bottom: 23px
}

.hr__header.active{
    height: 7px;
    background-color: #FF4500; /* Color base del neón rojo */
    box-shadow: 0 0 10px #FF4500, 0 0 20px #FF4500, 0 0 30px #FF4500, 0 0 40px #FF4500; 
}


.bolaNavidad {
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    background-image: url('./images/starkiller.png');
    background-size: cover;
    background-repeat: repeat;
    border-radius: 50%;
    position: absolute;
    left: 73%; 
    animation: moveAndDisappear 45s forwards ease-in-out; 
}

@keyframes moveAndDisappear {
    0% {
        left: 70%; 
        opacity: 0;
    }
    25% {
        left: 70%; 
        opacity: 0;
    }
    50% {
        left: 70%; 
        opacity: 0;
    }
    75% {
        left: 70%; 
        opacity: 0.1;
    }
    100% {
        left: 73%;
        opacity: 1; 
    }
}


@keyframes appearAfterBolaNavidad {
    0% {
        opacity: 0;
        left: 5%; 
    }
    25% {
        left: 2%; 
    }
    50% {
        left: 2%; 
        opacity: 0;
    }
    75% {
        left: 2%; 
        opacity: 0.3;
    }

    100% {
        opacity: 1;
        left: 5%; 
    }
}

.img__x{
    width: 100%;
    height: 100%;

}


.xwing {
    position: absolute;
    top: 150px;
    left: -25%;
    width: 400px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    animation: appearAfterBolaNavidad 20s forwards ease-in-out 30s; 
}

.falcon {
    position: absolute;
    top: 68%;
    left: -25%;
    width: 480px;
    height: 230px;
    background-image: url('./images/pngegg.png');
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(-20deg);
    animation: appearAfterBolaNavidad 20s forwards ease-in-out 30s; 
}

.caza-tie {
    position: absolute;
    top: 10%;
    left: 80%;
    width: 300px;
    height: 325px;
    background-image: url('./images/caza-tie.png');
    opacity: 0;
    background-size: cover;
    background-repeat: no-repeat;
    animation: appearFromRight 20s forwards ease-in-out 30s; 
}

@keyframes appearFromRight {
    0% {
        opacity: 0;
        left: 80%; 
    }

    50% {
        opacity: 0;
        left: 75%; 
    }

    100% {
        opacity: 1;
        left: 58%; 
    }
}


.title__section{
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    color: #ecf805;
    font-family: Poller One;
    margin-bottom: 10px;
}







/*Fin Header*/

/*Main*/

.main__react{
    width: 100%;
    height: auto;
    min-height: 30vh;
    padding: 0 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: nowrap;
}


/*lado de la pelicula*/
.main__content{
    width: 75%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.movie__item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 50px;
    margin-bottom: 50px;
}

.item__image{
    width: 50%;
    height: 100%;
}

.img__movie{
    width: 100%;
    height: 900px;
    object-fit: cover;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 15px;
    opacity: 0.7;
    transition: all 0.3s ease;
}

.img__movie:hover{
    opacity: 1;
    transform: translate(0, -10px);
    box-shadow: 0 0 10px #F1B95A, 0 0 20px #4F1B1C, 0 0 30px #466bf1, 0 0 40px #e8f146;
}

.item__description{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    padding: 20px; /* Añadir padding para evitar que el contenido se salga */
    box-sizing: border-box;
}

.title__movie{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 50;
    margin: 0;
}

.title__pre{
    font-size: 20px;
    font-weight: bold;
    font-family: Starjout;
    margin-left: 105px;
    margin-bottom: 0;
}

.title__ep{
    font-size: 50px;
    margin: 0;
    text-transform: uppercase;
    width: 100%; /* Ocupa el 100% del ancho disponible */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
    display: block;
    
}

.title__hr {
    height: 1px;
    background: #e0d905;
    width: 70%;
}

.pre__hr{
    height: 1px;
    background: #e0d905;
    width: 43%;
    margin: 7px;
}

.pre___movie{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}



.description__movie{
    font-size: 20px;
    margin-top: 30px;
    word-wrap: break-word; 
    max-width: 80%; 
    text-align: justify;
    color: #fff;
}

.item__button{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    text-align: center;
    margin-top: 20px;
    flex-wrap: nowrap;
}




.edit{
    width: 175px;
    height: 35px;
    text-align: center;
    margin-right: 3rem;
    font-size: 21px;
    border: none;
    color: #fff;
    background-color: #12E37E;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.edit:hover{
    background-color: #46F19E; /* Color base del neón verde */
    box-shadow: 0 0 10px #46F19E, 0 0 15px #46F19E, 0 0 20px #46F19E, 0 0 25px #46F19E;
}


.delete{
    width: 175px;
    height: 35px;
    text-align: center;
    font-size: 21px;
    border:none ;
    color: #fff;
    background-color: #FF0000;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.delete:hover{
    background-color: #FF4500; /* Color base del neón rojo */
    box-shadow: 0 0 10px #FF4500, 0 0 20px #FF4500, 0 0 30px #FF4500, 0 0 40px #FF4500;
}










.main__sidebar{
    width: 25%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}


.forms__sec {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
    background-color: rgb(255 255 255 / 20%);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 100px;
}

.search, .agregar {
    background-color: transparent;
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title__aside {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #f4e804;
}

.form__aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.form__aside input[type="text"],
.form__aside textarea,
.form__aside input[type="file"] {
    padding: 10px;
    border: 1px solid #ddfa05;
    background-color: transparent;
    border-radius: 15px;
    font-size: 1em;
    transition: border-color 0.3s;
    color: #fff;

}

.form__aside input[type="text"]:focus,
.form__aside textarea:focus,
.form__aside input[type="file"]:focus {
    border-color: #007bff;
    outline: none;
    color: #fff;
}

.form__aside input[type="submit"] {
    display: block;
    padding: 10px 20px;
    margin-top: 5px;
    border: 3px solid #007bff;
    border-radius: 15px;
    background-color: #fff;
    color: #007bff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

.form__aside input[type="submit"]:hover {
    background-color: #00BFFF;
    box-shadow: 0 0 5px #00BFFF, 0 0 10px #00BFFF, 0 0 15px #00BFFF, 0 0 20px #00BFFF;
    color: #fff;
    font-weight: bold; /* Cambia a bold en lugar de bolder */
    border: 3px solid #00BFFF; /* Mantén el mismo tamaño de borde */
}

.custom-file-upload {
    display: inline-block;
    padding: 12px 12px;
    cursor: pointer;
    border: 1px solid #ddfa05;
    background-color: transparent;
    color: #fff;
    border-radius: 15px;
    font-size: 15px;
}

.custom-file-upload:hover {
    background-color: #FF4500; /* Color base del neón rojo */
    box-shadow: 0 0 5px #FF4500, 0 0 10px #FF4500, 0 0 15px #FF4500, 0 0 20px #FF4500;
    color: #eccd1f;
    text-shadow: #ddfa05;
    border: none;
}

.peli__add{
    margin: 5px;
}


.toggle-sidebar {
    display: none;
    position: fixed;
    top: 14px;
    left: 2px;
    background-color: rgb(255 255 255 / 25%);
    backdrop-filter: blur(30px);
    color: #000000;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001;
    width: 30px;
    height: 30px;
    }

    .toggle-sidebar:active{
        background-color: #9400D3; /* Color base del neón violeta */
        box-shadow: 0 0 5px #9400D3, 0 0 10px #9400D3, 0 0 15px #9400D3, 0 0 20px #9400D3;
        color: #fff; 
    }

/*Fin Main*/

/*Footer*/
.footer__react{
    width: 100%;
    height: 100px;
    background-color: rgb(255 255 255 / 10%);
    backdrop-filter: blur(5px);
    padding: 0 20px;
    bottom: 0;
    z-index: 1000;
    margin-top: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.icons__footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    

}

.icons__footer i{
    font-size: 40px;
    margin: 0 10px;
    color: #fff;
    transition: all 0.3s ease;
}

.icons__footer i:hover{
    color: #e3f70c;
    transform: scale(1.5);
}
/*Fin Footer*/


/*estilos adicionales*/

.edit_form {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 35px;
    background-color: rgb(255 255 255 / 20%);
    backdrop-filter: blur(5px);
    margin-top: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit_form .title__aside {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.form__aside input,
.form__aside textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form__aside button.edit {
    padding: 5px 20px;
    margin-top: 5px;
    border: 3px solid #007bff;
    border-radius: 15px;
    background-color: #fff;
    color: #007bff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form__aside button.edit:hover {
    background-color: #00BFFF;
    box-shadow: 0 0 10px #00BFFF, 0 0 20px #00BFFF, 0 0 30px #00BFFF, 0 0 40px #00BFFF;
    color: #fff;
    font-weight: bolder;
    border: none;
}

.no_encontrado{
    font-size: 16px;
    font-weight: bold;
    font-family: Starjout;
    color: #FF4500;
    position: absolute;
    top: 70px;
    left: 45%;
    
}


.search{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    border: none;
    margin: 0;
    padding: 0;
}


.form__aside-search{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.form__aside-search input[type="text"]{
    width: 320px;
    height: 30px;
    padding-left: 20px;
    border: 2px solid #ddfa05;
    background-color: transparent;
    border-radius: 15px;
    color: #fff;
    transition: border-color 0.3s;
}


form__aside-search input::placeholder{
    color: #ddfa05;
}

.form__aside-search input[type="submit"]{
    display: none;
    width: 80px;
    height: 30px;
    margin-left: 0px;
    margin-bottom: 13px;
    /* padding-left: 20px; */
    border: 2px solid #ddfa05;
    background-color: #ddfa05;
    border-radius: 15px;
    color: #000000;
    transition: border-color 0.3s;
}


.form__aside-search input[type="submit"]:hover{
    border-color: #007bff;
    background-color: #141415;
    color: #fff;
    font-weight: bolder;
}



.form__aside-search input[type="text"]:focus{
    border-color: #007bff;
    color: #fff;
    background-color: #007bff;

}




/*blog*/
.blog__section{
    width: 100%;
    height: auto;
    padding: 0 20px;
    margin-bottom: 20px;
}

.blog__container{
    width: 100%;
    height: auto;
    min-height: 700px;
    padding: 0;
    margin-bottom: 200px;
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    text-align: center;
    flex-wrap: nowrap;
}

.cards__frases{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.card-principal {
    width: 22%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo más opaco */
    backdrop-filter: blur(5px);
    border-radius: 15px;
    border: 4px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1), 0 6px 20px rgba(255, 255, 255, 0.1); /* Sombras más claras */
    transition: all 0.3s ease;
    transform-style: preserve-3d;
    perspective: 1000px;
    z-index: 3;
}

.card-principal:hover {
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.3), 0 14px 28px rgba(255, 255, 255, 0.25); /* Sombras más claras */
}


.card__saludo{
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    color: #ecf805;
    font-family: poller one;
}

.card__text{
    font-size: 20px;
    font-family: Poller one;
    margin-bottom: 0;
    color: #fff;
    text-transform: capitalize; 
}

.card__movies{
    width: 30%;
    height: 20px;
    border: 2px solid #ddfa05;
    background-color: transparent;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    transition: all 0.3s ease;
}

.card__movies:hover{
    background-color: #ddfa05;
    color: #212121;
    font-weight: bolder;
}

.card {
    width: 50px;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(px);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1), 0 6px 20px rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease-in-out;
    z-index: 1;
    animation-fill-mode: both;
}

.card:hover {
    animation: expandWidth 0.5s ease-in-out forwards, expandHeight 0.5s ease-in-out 0.5s forwards;
}


.card:hover .card__frase,
.card:hover .card__nombre,
.card:hover i {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.5s;
}

.card__frase,
.card__nombre,
.card i {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s ease-in-out;
    transition-delay: 0s;

}

.card__frase {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: #fff;
    font-family: 'Poller One', sans-serif;
    padding: 5px;
    width: 90%;
    overflow: hidden;
}

.card__nombre {
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'FontAwesome';
}

.reds {
    color: #FF4500;
}

.blues {
    color: #00BFFF;
}

.greens {
    color: #12E37E;
}

.star {
    color: #ecf805;
}

.star-border {
    border: 2px solid #ecf805;
}

.star-border:hover {
    box-shadow: 0 0 10px #ecf805, 0 0 20px #ecf805, 0 0 30px #ecf805, 0 0 40px #ecf805;
}

.verdes-border {
    border: 2px solid #46F19E; 
}

.verdes-border:hover {
    box-shadow: 0 0 10px #46F19E, 0 0 20px #46F19E, 0 0 30px #46F19E, 0 0 40px #46F19E;
}

.rojos-border {
    border: 2px solid #FF4500;
}

.rojos-border:hover {
    box-shadow: 0 0 10px #FF4500, 0 0 20px #FF4500, 0 0 30px #FF4500, 0 0 40px #FF4500;
}

.azules-border {
    border: 2px solid #00BFFF;
}

.azules-border:hover {
    box-shadow: 0 0 10px #00BFFF, 0 0 20px #00BFFF, 0 0 30px #00BFFF, 0 0 40px #00BFFF;
}

.card i {
    font-size: 40px;
    margin: 0 10px;
    visibility: hidden;
    opacity: 0;
}

.card-principal i {
    font-size: 40px;
    margin: 0 10px;
}

@keyframes expandWidth {
    0% {
        width: 50px;
    }
    100% {
        width: 200px;
    }
}


.button__card{
    width: 35%;
    height: 40px;
    border: 2px solid #00BFFF;
    background-color: transparent;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    transition: all 0.3s ease;
    
}

.button__card:hover{
    background-color: #00BFFF;
    color: #212121;
    font-weight: bolder;
}

.button__personaje{
    width: 25%;
    height: 40px;
    border: 2px solid #00BFFF;
    background-color: transparent;
    border-radius: 15px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 8px;
    padding: 10px;
    margin-top: 20px;
    transition: all 0.3s ease;
    
}

.button__personaje:hover{
    background-color: #00BFFF;
    color: #212121;
    font-weight: bolder;
}




.card-one{
    width: 15%;
    min-height: 300px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo más opaco */
    backdrop-filter: blur(30px);
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1), 0 6px 20px rgba(255, 255, 255, 0.1);
    z-index: 1;
}

.form__car-one{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.form__car-one input[type="text"]{
    width: 90%;
    padding: 10px;
    border: 1px solid #ddfa05;
    background-color: transparent;
    border-radius: 15px;
    font-size: 1em;
    transition: border-color 0.3s;
    color: #fff;
}

.form__car-one input[type="text"]:focus{
    border-color: #007bff;
    color: #fff;
}

.select__form{
    width: 80%;
    padding: 10px;
    border: 1px solid #ddfa05;
    background-color: transparent;
    border-radius: 15px;
    font-size: 1em;
    transition: border-color 0.3s;
    color: #ddfa05;
}

.select__form:focus{
    border-color: #007bff;
    color: #fff;
    background-color: #00BFFF;
}

.card__nombre{
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'FontAwesome';
    
}

.card__nombre.rojos {
    color: #FF4500;
}

.card__nombre.azules {
    color: #00BFFF;
}

.card__nombre.verdes {
    color: #12E37E;
}

.card__nombre.star {
    color: #ecf805;
}


/*Fin blog*/

.star-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2; 
    overflow: hidden;
}

.stars {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: #fff;
    z-index: 2;
}

@keyframes shooting-star {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) translateX(100vw);
        opacity: 0;
    }
}

.shooting-star {
    animation: shooting-star 1.5s linear infinite;
    background-color: rgb(55, 226, 238);
    width: 5px; 
    height: 5px; 
    border-radius: 50%;
}

#scroller {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 350%;
	text-align: justify;
	overflow: hidden;
	height: 50em;
	width: 20em;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -10em;
	z-index: 0;
	transform: perspective(350px) rotateX(25deg);
	transform-origin: 50% 100%;
}

#scroller::after {
	position: absolute;
	content: "";
	bottom: 60%;
	left: 0;
	right: 0;
	top: 0;
}

#content {
	position: absolute;
	top: 100%;
	animation: scoller 70s linear 20s;
}

@keyframes scoller {
	0% {
		top: 100%;
	}
	100% {
		top: -200%;
	}
}

#title,
#subtitle {
	text-align: center;
	line-height: 1.5rem;
}

#subtitle {
	text-transform: uppercase;
	font-size: 3.5rem;
}

.intro {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	color: rgb(75, 213, 238);
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	font-size: 3.25rem;
	width: 80%;
	opacity: 0;
	animation: intro 6s ease-out 0.5s;
}

@keyframes intro {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 100%;
	opacity: 0;
	animation: logo 10s ease-out 9s;
}


@keyframes logo {
	0% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(2);
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(0.1);
	}
}


.logo-final {
    opacity: 1 !important;
    transform: translate(-50%, -50%) scale(1) !important;
    animation: none !important; 
}




.rojos-border {
    border-color: #FF4500;
}

.rojos-text {
    color: #FF4500;
}

.rojos-shadow {
    box-shadow: 0 0 10px #FF4500, 0 0 20px #FF4500, 0 0 30px #FF4500, 0 0 40px #FF4500;
}

.azules-border {
    border-color: #00BFFF;
}

.azules-text {
    color: #00BFFF;
}

.azules-shadow {
    box-shadow: 0 0 10px #00BFFF, 0 0 20px #00BFFF, 0 0 30px #00BFFF, 0 0 40px #00BFFF;
}

.verdes-border {
    border-color: #12E37E;
}

.verdes-text {
    color: #12E37E;
}

.verdes-shadow {
    box-shadow: 0 0 10px #12E37E, 0 0 20px #12E37E, 0 0 30px #12E37E, 0 0 40px #12E37E;
}

.star-border {
    border-color: #ecf805;
}

.star-text {
    color: #ecf805;
}

.star-shadow {
    box-shadow: 0 0 10px #ecf805, 0 0 20px #ecf805, 0 0 30px #ecf805, 0 0 40px #ecf805;
}

/**/



.personajes {
    width: 100%;
    height: auto;
    margin-top: 200px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Contenedor principal */
.personajes__container {
    width: 100%;
    height: auto;
    min-height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    flex-direction: row;
    align-content: center;
    margin-top: 30px;
}

/* Tarjetas individuales */
.personaje {
    overflow: hidden;
    width: 300px;
    height: 140px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent; 
}

.personaje:hover {
    width: 500px;
    height: 500px;
    border-radius: 3%;
    background-color: #000000;
}

/* Imagen de personaje */
.img__personaje {
    width: 100%;
    height: 52%;
    margin-top: 0px;
    border-radius: 0px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.personaje:hover .img__personaje {
    opacity: 1;
}

/* Nombre del personaje */
.name__personaje {
    display: block;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'FontAwesome';
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

/* Descripción del personaje */
.description__personaje {
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 10px;
    word-wrap: break-word;
    max-width: 93%;
    text-align: justify;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.personaje:hover .description__personaje {
    opacity: 1;
}





.jedi-blue-border {
    border: 2px solid #00BFFF;
}

.jedi-green-border {
    border: 2px solid #00FF00;
}

.sith-border {
    border: 2px solid #FF4500;
}

.force-border {
    border: 2px solid #ecf805;
}

.jedi-blue-text {
    color: #00BFFF;
}

.jedi-green-text {
    color: #00FF00;
}

.sith-text {
    color: #FF4500;
}

.force-text {
    color: #ecf805;
}


.form__car-one textarea{
        width: 85%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddfa05;
        border-radius: 15px;
        background-color: transparent;
        color: #fff;
        font-size: 15px;
}

.form__car-one button{
    display: inline-block;
    padding: 12px 12px;
    cursor: pointer;
    border: 1px solid #ddfa05;
    background-color: transparent;
    color: #fff;
    border-radius: 15px;
    font-size: 15px;
}