@media (max-width: 430px) {
    .nav__react {
        height: 40px;
        width: auto;
    }

    .nav__link {
        font-size: 6px;
        line-height: 0;
    }

    .nav__item {
        list-style: none;
        margin: 0 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav__icon {
        width: 17px;
        height: 17px;
        margin-right: 3px;
        vertical-align: middle;
        transform: rotate(45deg);
        margin-top: 15px;
    }

    .logo__nav {
        display: none;
        width: 55px;
        height: 100%;
    }

    .nav__list {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        margin-left: 0;
        margin-right: 10px;
        justify-content: center;
        width: 100%;
    }

    .nav__link::before {
        bottom: -10px;
        height: 3px;
    }

    .header__react {
        height: 60vh;
        padding: 0;
    }

    .header__title {
        font-size: 30px;
    }

    .pre__header {
        font-size: 20px;
        font-weight: bold;
        font-family: Starjout;
        margin-left: 7%;
        margin-bottom: 5px;
    }

    .header__icon {
        width: 25px;
        height: 33px;
        margin-right: 2px;
        margin-left: 15px;
        vertical-align: middle;
        transform: rotate(50deg);
    }

    .bolaNavidad {
        top: 70px;
    }

    @keyframes appearInNewPlace {
        0% {
            left: 20%;
            opacity: 0;
        }
        100% {
            left: 74%;
            opacity: 1;
        }
    }

    .xwing {
        top: 80px;
        left: -30%;
        width: 120px;
        height: 60px;
    }

    .falcon {
        width: 150px;
        height: 70px;
        left: -32%;
    }

    .caza-tie {
        width: 80px;
        height: 90px;
        top: 15%;
    }

    .hr__header {
        width: 50%;
        margin: 4px;
        margin-bottom: 13px;
    }

    @keyframes appearFromRight {
        0% {
            opacity: 0;
            left: 125%;
        }
        50% {
            opacity: 0;
            left: 75%;
        }
        100% {
            opacity: 1;
            left: 50%;
        }
    }

    .main__react {
        margin-top: 20px;
        padding: 0;
        flex-direction: column;
    }

    .main__content {
        width: 100%;
        padding: 0;
    }

    .item__description {
        width: 100%;
        padding: 0;
        margin-top: 10px;
    }

    .title__pre {
        font-size: 10px;
        margin-left: 0px;
    }

    .title__movie {
        font-size: 20px;
    }

    .title__ep {
        font-size: 20px;
    }

    .movie__item {
        flex-direction: column;
    }

    .item__image {
        width: 100%;
        height: 100%;
    }

    .img__movie {
        width: 90%;
        height: auto;
        margin-left: 0;
    }

    .pre___movie {
        justify-content: center;
    }

    .description__movie {
        font-size: 13px;
        font-weight: bold;
        margin-top: 30px;
        word-wrap: break-word;
        max-width: 90%;
        color: #fff;
    }

    .item__button {
        width: 70%;
        margin-bottom: 40px;
    }

    .edit {
        width: 160px;
        height: 30px;
        font-size: 18px;
    }

    .delete {
        width: 160px;
        height: 30px;
        font-size: 18px;
    }

    .toggle-sidebar {
        display: block;
    }

    .main__sidebar {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        transform: translateX(-100%);
        z-index: 1000;
    }

    .main__sidebar.active {
        transform: translateX(0);
    }

    .forms__sec {
        margin-bottom: 40px;
        width: 70%;
        height: auto;
    }

    .footer__text {
        font-size: 12px;
    }

    .icons__footer i {
        font-size: 20px;
    }

    .footer__react {
        margin: 0;
        padding: 0;
        height: 50px;
    }

    .form__aside-search {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .form__aside-search input[type="text"] {
        width: 100px;
        height: 30px;
        padding-left: 0px;
        border: 2px solid #ddfa05;
        background-color: transparent;
        border-radius: 15px;
        color: #fff;
        transition: border-color 0.3s;
    }

    .form__aside-search input[type="submit"] {
        display: block;
        width: 100%;
        height: 30px;
        margin-top: 10px;
        border: 2px solid #ddfa05;
        background-color: #ddfa05;
        border-radius: 15px;
        color: #000000;
        transition: border-color 0.3s;
    }

    .custom-file-upload {
        display: inline-block;
        padding: 5px 12px;
        cursor: pointer;
        border: 1px solid #ddfa05;
        background-color: transparent;
        color: #fff;
        border-radius: 15px;
    }

    .blog__container {
        flex-direction: column;
        margin-top: 20px;
    }

    .card-principal {
        width: 92%;
        height: 300px;
        padding: 0;
    }

    .card__saludo {
        font-size: 22px;
    }

    .card-principal i {
        font-size: 30px;
    }

    .card__text {
        font-size: 15px;
        font-family: Poller one;
        margin-bottom: 0;
        color: #fff;
        text-transform: capitalize;
        width: 80%;
    }

    .card__movies {
        width: 60%;
        height: 14px;
        border: 2px solid #ddfa05;
        background-color: transparent;
        border-radius: 15px;
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        padding: 4px;
        transition: all 0.3s ease;
    }

    .card__movies:hover {
        background-color: #ddfa05;
        color: #000;
    }

    .cards__frases {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .card {
        width: 90%;
        height: 10px;
        display: flex;
        align-items: center;
        flex-direction: row;
        text-align: center;
        animation: none !important;
    }

    .card:hover {
        height: 100px;
        width: 90%;
    }

    .card:not(:hover) {
        height: 10px;
        width: 90%;
    }

    .card__frase {
        font-size: 15px;
    }

    .card i {
        font-size: 30px;
    }

    .title__section {
        font-size: 35px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #search::placeholder {
        color: #888; 
        font-size: 10px; 
        opacity: 1;
        text-align: center;
    }

    .button__card {
        width: 65%;
        height: 0px;
        border: 2px solid #00BFFF;
        background-color: transparent;
        border-radius: 15px;
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        padding: 10px;
        transition: all 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-one {
        width: 85%;
    }

    .card__nombre {
        text-transform: uppercase;
        font-size: 15px;
        font-family: 'FontAwesome';
        letter-spacing: 5px;
    }
}

@media (max-width: 385px) {
    .pre__header {
        font-size: 15px;
    }

    .header__title {
        font-size: 25px;
    }

    .footer__text {
        font-size: 9px;
    }

    @keyframes appearInNewPlace {
        0% {
            left: 20%;
            opacity: 0;
        }
        100% {
            left: 74%;
            opacity: 1;
        }
    }

    .caza-tie {
        width: 67px;
        height: 75px;
        top: 13%;
    }

    @keyframes appearFromRight {
        0% {
            opacity: 0;
            left: 125%;
        }
        50% {
            opacity: 0;
            left: 75%;
        }
        100% {
            opacity: 1;
            left: 56%;
        }
    }

    .falcon {
        width: 120px;
        height: 60px;
    }


    .forms__sec {
        margin-bottom: 30px;
        width: 70%;
        height: 80%;
    }

    .title__aside {
        font-size: 15px;
        margin-bottom: 14px;
        color: #f4e804;
    }

    .form__aside input, .form__aside textarea {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 15px;
        padding: 4px;
        margin: 0;
    }

    .search, .agregar {
        background-color: transparent;
        border-radius: 15px;
    }

    .form__aside input[type="submit"] {
        padding: 5px 0px;
        border: 3px solid #007bff;
        border-radius: 15px;
        background-color: #fff;
        color: #007bff;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .custom-file-upload {
        display: inline-block;
        padding: 5px 12px;
        cursor: pointer;
        border: 1px solid #ddfa05;
        background-color: transparent;
        color: #fff;
        border-radius: 15px;
    }
}

@media (max-width: 340px) {
    .nav__link {
        font-size: 6px;
        line-height: 0;
    }

    .forms__sec {
        margin-bottom: 30px;
        width: 70%;
        height: 80%;
    }

    .title__aside {
        font-size: 15px;
        margin-bottom: 14px;
        color: #f4e804;
    }

    .form__aside input, .form__aside textarea {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 15px;
        padding: 4px;
        margin: 0;
    }

    .search, .agregar {
        background-color: transparent;
        border-radius: 15px;
    }

    .form__aside input[type="submit"] {
        padding: 5px 0px;
        border: 3px solid #007bff;
        border-radius: 15px;
        background-color: #fff;
        color: #007bff;
        cursor: pointer;
        transition: background-color 0.3s;
    }


    .custom-file-upload {
        display: inline-block;
        padding: 5px 12px;
        cursor: pointer;
        border: 1px solid #ddfa05;
        background-color: transparent;
        color: #fff;
        border-radius: 15px;
    }
}
